[2017-07-04 11:10] fhamborg opened #1 "hoaxy init on afp.com fails"
When running `hoaxy init` with a `domains_factchecking.txt` that contains the following line
[code]
I get the following error
[code]

However, when visiting the domain in my browser, everything seems to work fine.

A second issue is that afp.com is actually publishing in English, but we would like to access the German version that is available at afp.com/de. However, hoaxy only accepts domains and

[2017-07-06 22:03] shaochengcheng commented on #1
Hi Felix,
## About the Failing of the domain `afp.com`
It seems that this site is a little odd: you can visit it by `www.afp.com`, but the domain `afp.com` does not exist. Here is some ping information:
[code]
There are several ways to resolve this problem. One is by using a YAML file to load this site. You can check the sample file `sites.sample.yaml`. Here is an example of this site:
[code]
Plea

[2017-07-11 14:53] glciampaglia commented on #1
Closing issue for now; @fhamborg, feel free to reopen if there is any follow up question you would like to ask to Chengcheng. Thanks!

[2017-07-11 14:53] #1 closed

[2017-10-05 08:55] fhamborg opened #2 "default crontab contains errors"
The crontab that hoaxy produces if creating a fresh config directory is erroneous. The excerpt below contains a command `hoaxy site --crawl ...`, which however, should actually be `hoaxy crawl --fetch-url ...`
[code]

[2017-10-05 18:36] shaochengcheng commented on #2
Yes. Some commands in crontab.sample.txt were changed. Please use https://github.com/IUNetSci/hoaxy-backend/blob/master/hoaxy/data/samples/crontab.sample.txt, Or update your version of hoaxy.

Thanks for your report.
Chengcheng

[2017-10-05 18:36] #2 closed

[2018-03-06 22:41] glciampaglia opened #3 "Avoid duplicated article text in database"
Currently Hoaxy extracts all the hyperlinks in each tweet collected from the Twitter stream, and puts them in the `url` table. Hoaxy parses each raw URL so collected and stores the full HTML of each raw URL into the `url` table, along with its canonical URL. This creates a lot of duplicate content, and is not an efficient usage of space.

To overcome this, we will alter two tables. We will remove

[2018-03-06 23:07] glciampaglia opened #4 "Parse tweets and store all edges into an edge table"
To speed up network generation queries, we will create an `edge` table and will add rows to it by parsing each tweet and extracting all replies, mentions, retweets, and quotes.

[2018-03-06 23:20] glciampaglia opened #5 "(Dynamic) updates of source list"
__Background__. So far Hoaxy has been collecting tweets that include links to a pre-defined list of source domains. To do so, each domain is included as a keyword for the `POST/statuses` endpoint of the Twitter streaming API.

__Problem__. This list can be only updated manually, and does not take into account that not all domains may generate traffic (domains may go offline), and that one may want

[2018-03-06 23:22] glciampaglia opened #6 "Fix article extraction pipeline"
We should move to a better package from text extraction from HTML. The issues are the following:

1) The current API is failing on some sites (e.g. The Onion).
2) We also need to store only the text because it will take less space.

To solve the problem of multiple versions, we should keep only the first version of an article.

* [x] We need to identify a good package for doing extraction and test

[2018-03-06 23:23] glciampaglia opened #7 "TopArticles API should have an option to exclude satire sources"
Per title. We would like to add a parameter to the TopArticles API endpoint, e.g. `exclude=['satire',]`.

[2018-03-06 23:25] glciampaglia opened #8 "Ignore false matches by default, change configuration on private instance"
We need to make sure that the tweets that match the filter of the Twitter Streaming API but do not contain actual links should be dropped and not added to the database. There is an option for it in the configuration file. We should make dropping the default.

@shaochengcheng should also update the configuration file of our own private instance at hoaxy.iuni.iu.edu

[2018-03-11 20:54] ZacMonroe commented on #6
[BeautifulSoup](https://github.com/akalongman/python-beautifulsoup) is a library that I've found that, in my testing, seems to work well in providing all the text that is visible to the user without any element tags (<p>, </script>, etc.). It also can remove markup comments. [Here](https://github.com/ZacMonroe/Html-parser) is something I threw together as a proof-of-concept.

[2018-03-12 00:56] filmenczer commented on #6
Thank you @ZacMonroe. Other students have used BeautifulSoup in other projects, so I know it's a powerful parser/scraper. But does it allow to extract the *content* of an article, leaving out not only scripts and html markup but also other stuff that we do not want (eg, navigation, headers, footers, ads, links to other pages...)? Can you share with us what happens when you apply your script to a b

[2018-03-19 14:16] glciampaglia commented on #6
I remember we did evaluate Python Goose, and for some reason at the time (two years ago) it was not meeting certain requirements, and so we went for what we have currently. Perhaps @shaochengcheng can remind us what was the problem with it? It could be possible that in the meanwhile the project may have matured and could be a viable alternative now.

[2018-03-19 14:21] glciampaglia commented on #6
FYI, it seems that development of Python Goose has moved to a different repository: https://github.com/goose3/goose3

[2018-03-19 19:06] ZacMonroe commented on #6
I will certainly give it a try! Over the last few days I've been trying to use [Aylien](https://aylien.com/) ([example usage of extracting tweets' content](http://blog.aylien.com/first-text-mining-project-python-3-steps/)), but I just realized that the free version of it only allows it to be called (meaning, the text of an article is extracted) 1000 times per day -- which likely is not enough.

[2018-03-20 04:29] filmenczer commented on #6
We're already using an API, it would be better to extract the content on our server. Goose seems to be what we need, if it works. @shaochengcheng please let us know if you know of issues with Goose. In the meanwhile @ZacMonroe please test it.

[2018-03-20 15:27] glciampaglia commented on #6
May I suggest that @ZacMonroe take a look at Dragnet first? As I mentioned in my comment, it looks like Dragnet outperforms Python Goose in tests, so it would make sense to give it a try first.

[2018-03-22 03:00] shaochengcheng commented on #6
@ZacMonroe @glciampaglia @filmenczer. We tried Python Goose but decided not to use it due to the followings.

1. The capacity is not perfect, there are cases that cannot properly be parsed.
2. Goose https://github.com/grangier/python-goose was out of maintenance.

Thanks to  @ZacMonroe and @glciampaglia, now we know that a new version, goose3, is now under maintenance. Based on the observation tha

[2018-03-22 03:01] shaochengcheng commented on #8
Private configuration is updated. The issue should be closed.

[2018-03-22 03:01] #8 closed

[2018-03-22 04:28] filmenczer commented on #4
I added my interpretations. But if they cannot be implemented easily and efficiently, I am happy to give up on some edges!

[2018-03-27 13:38] manoelhortaribeiro opened #9 "Site config from the production version"
First of all, thank you heaps for making this project open-source. I spent literally the whole morning crawling through the files and quality of code is very impressive.

I got really interested in the "site_tags" features, and would like to know if:

1) Is there any automated way to add these tags from the tables you guys mentioned? I've found the opensource lists, but it would be helpful if that

[2018-04-03 18:07] glciampaglia commented on #4
It looks like that `is_mention` and `tweet_type` have been swapped and this breaks Hoaxy (both the demo site and probably the old Hoaxy). @shaochengcheng can you please take a look at it?

This is the output of "Test Endpoint" from mashape:

[code]

[2018-04-04 00:00] shaochengcheng commented on #4
Sorry that I made such a dummy error!. I fixed this bug.

Thanks
Chengcheng

[2018-04-04 21:11] filmenczer commented on #6
Any updates? Zac, unless you have already done this, we suggest you try each parser (Dragnet, Goose3, Mercury) on one (or a small sample of) article(s) from each source, and then report back on which sites are missed using each tool. Then we can decide if we can just pick one, or need a more complex solution. Thanks!

[2018-04-04 21:16] filmenczer opened #10 "Speed of Lucene query retrieval"
We noticed that the search from the article search engine (Lucene) is often very slow. Can you please do some tests with random queries? We should find the bottleneck: is it Lucene? the database? the API? the network?

[2018-04-04 21:18] filmenczer commented on #5
@shaochengcheng any updates?

[2018-04-04 21:28] glciampaglia commented on #9
Thank you for the appreciate words Manoel, and my apologies for taking time to get back to this ticket, I saw it last week but I was on the road. I am not aware of any automated way to populate the site_tag table. Regarding our current configuration, this is what we have in the production instance of Hoaxy:

[code]

We do appreciate any kind of feedback, and if you have any bugfix or feature, feel

[2018-04-07 13:13] shaochengcheng commented on #10
Hi Fil,

I tested the API flow with random words selected from the title of articles. Here are the time escaped in the API flow (in seconds, 100 rounds):

t0_lucene_query                              query from article                                       0.554636
t1_article_filtering                            filtering disabled site                                  0.004863
t2_article_sharing

[2018-04-07 21:30] filmenczer commented on #10
Thank you @shaochengcheng that explains clearly --- I attributed the delay of the first phase to Lucene when in fact it is the retrieval of the tweets.

I wonder if we could speed up tweet retrieval by better indexing. @glciampaglia can we discuss this?

Also I understand that the network API is faster now. Thank you for that too! I expected a larger speedup because I thought that the network API

[2018-04-07 21:36] filmenczer commented on #4
Does the new network API mean that this issue is closed, or is this still work in progress? I would expect a large speed up by indexing edges. In the OSoMe network tool the speed up was amazing, at least x10.

[2018-04-07 21:37] #9 closed

[2018-04-08 15:34] glciampaglia commented on #10
Thank you @shaochengcheng for running this analysis. This explains the bottleneck perfectly. I think that adding indexing to the article_sharing query could speed up things significantly, like what happened with the Botometer database. I can work on it. Could you please point me to the source code of the article_sharing query? What about the new API? Is it also an SQL query, or are you still parsi

[2018-04-09 21:16] filmenczer commented on #10
@shaochengcheng -- the table `ass_tweet_url` had an index (tweet_id, url_id). Therefore when querying by url, it was not using the index, therefore it was slow. Giovanni and I created a new index (url_id, tweet_id). In this way, when querying by url, this is executed as an index scan and is MUCH faster!!!

Please update the code that creates the table to add this new index, than you can close this

[2018-04-09 21:53] filmenczer commented on #4
@shaochengcheng -- Giovanni and I looked at your new API function `db_query_network` using the new network table `twitter_network_edge` and noticed that it was kind of slow because of two sequential scans. We added an index for field `group_id` on table `article` and the index for field `article_id` on table `url`. After this, the query uses index scans only, and is super fast!!!!

Please be sure

[2018-04-10 01:50] shaochengcheng commented on #10
Hi @filmenczer and @glciampaglia

I am not sure whether we need an extra index on table `ass_tweet_url`, because there is a unique constraint on it when creating. Let us look at the table info:
[code]

As you can see, the index is already there, ` "tweet_url_uq" UNIQUE, btree (tweet_id, url_id)`. And according to PostgreSQL docs

Thus I think, table `ass_tweet_url` does not need a manual index.

A

[2018-04-10 01:54] shaochengcheng commented on #4
Great! Will update the code!

Thanks
Chengcheng

[2018-04-10 04:28] filmenczer commented on #10
Giovanni will answer more definitely, but as I recall:

* Before we added the index, the query was not running on the index, it was scanning the database. And it took several seconds (consistent with your measurements).

* After we added the index, the query ran scanning only the index, and it was super fast (less than a second). The difference is very noticeable in the live demo.

So I think that

[2018-04-10 13:11] glciampaglia commented on #10
The index is composite so when you look up a row by URL ID you are doing a partial lookup. However, with b-tree indexes (like the one in that table) this only works if you are using the leftmost part of the index. In other words, the index was being used when the reference was the tweet-ID, but not the other way round. Adding another index (URL ID, Tweet ID), does the trick.

[2018-04-10 13:12] glciampaglia commented on #10
Btw Clayton pointed out that hash indexes would be even faster than b-tree indexes. I am not sure we need the extra speed at the moment though.

[2018-04-26 17:45] mapsiva opened #11 "Hoaxy backend install issue"
Hi, I'm trying to install hoaxy backend on my ubuntu server, but pylucene doesn't install. When I perform `make test` my jvm throws an exception. See below:

Installed /tmp/pylucene/pylucene-4.10.1-1/build/test/lucene-4.10.1-py2.7-linux-x86_64.egg
Processing dependencies for lucene==4.10.1
Finished processing dependencies for lucene==4.10.1
find test -name 'test_*.py' | PYTHONPATH=/tmp/pylucene/py

[2018-04-27 04:10] filmenczer commented on #11
@shaochengcheng are you able to respond to this query?

[2018-04-27 13:04] shaochengcheng commented on #11
Hi mapsiva,

Thanks for trying Hoaxy. The error was probably related to the JDK, which is out of my knowledge. And I noticed that this happened to someone before:
  - https://stackoverflow.com/questions/26904725/pylucene-error-with-icetea-jdk-jre/29607100
  - http://grokbase.com/t/lucene/pylucene-dev/092d7zczd6/make-test-doesnt-work-before-install

These Q&A could give you some hints.

Moreover, I

[2018-05-01 19:33] glciampaglia commented on #11
Closing for now but feel free to reopen.

[2018-05-01 19:33] #11 closed

[2018-05-08 19:09] filmenczer commented on #5
Also consider list from Veracity.ai?

[2018-05-09 15:16] filmenczer commented on #7
Thank you @shaochengcheng !

This list of 'satire' sources is much longer than we expected... Many sites that spread fake news are labeled satire, so we would probably not want to exclude these in the current version of the Hoaxy front-end. But it is a good feature to have, especially if we can get more reliable tags in the future.

For the Mashape API docs, can you write here how this works in yo

[2018-05-11 00:27] glciampaglia opened #12 "generate_top_spreaders broken by changes in the database"
We noticed that the dashboard for top influential users is empty. After some investigation, we discovered that the [cron job that populates the table](https://github.com/IUNetSci/hoaxy-backend/blob/master/hoaxy/commands/report.py#L136) does not work anymore, probably due to the recent changes in the database.

Can you please update the two queries that calculate the most influential users for clai

[2018-05-11 15:12] shaochengcheng commented on #12
Hi @glciampaglia,

After checking the code, I found out that it was not caused by the database queries. It was a bug of our new tweet parser. I forgot to parse `retweeted_status_id`, `quoted_status_id`, and `in_reply_to_status_id` into `ass_tweet` table, thus the actual queries cannot evaluate the number of retweets of a user (measurement of the influence of a user).

Now the bug is fixed. And the

[2018-05-11 15:15] filmenczer commented on #12
Fantastic!! Thank you @shaochengcheng !!

[2018-05-11 15:15] #12 closed

[2018-05-14 04:45] shaochengcheng commented on #7
@filmenczer, I already put a draft version of API docs in the Mashape, please help me reword it.

https://market.mashape.com/truthy/hoaxy#toparticles

Thanks
Chengcheng

[2018-05-14 09:06] shaochengcheng commented on #7
@filmenczer, I already put a draft version of API docs in the Mashape, please help me reword it.

https://market.mashape.com/truthy/hoaxy#toparticles

Thanks
Chengcheng

[2018-05-14 11:47] #4 closed

[2018-05-14 12:31] filmenczer commented on #7
Great @shaochengcheng !! I updated the description. Could you make it so the default is empty (no exclusion)? That is how I have in the description now. This way the default behavior will not change. Thanks!

[2018-05-14 12:46] shaochengcheng commented on #7
Yes, of course. I altered the code to set `[]` as the default (no filtering). Please tell @benabus (if his responsibility) to adjust the API query parameters if we would like to exclude the satire sites on Hoaxy frontend.

[2018-05-14 15:06] glciampaglia opened #13 "Upcoming update to how URLs are rendered in the Quote Tweet payload"
Twitter has [recently announced](https://twittercommunity.com/t/updating-how-urls-are-rendered-in-the-quote-tweet-payload/105473) that there will be a few changes to how URLs are rendered in quote tweets. Is this going to affect in any way Hoaxy?

[2018-05-28 21:38] glciampaglia opened #14 "Stop including screen_name in Network API results"
Since `screen_name` is mutable in Twitter, results from the network endpoint are often stale. This causes several problems, e.g. https://github.com/IUNetSci/hoaxy-botometer/issues/230

By removing the screen name we would force the frontend to only look up users by numeric ID, which is the right thing to do. This change would break the frontend but in doing so it would help us figure out the sourc

[2018-05-31 17:45] glciampaglia commented on #14
Won't fix.

[2018-05-31 17:45] #14 closed

[2018-06-01 18:11] glciampaglia opened #15 "Invalid transaction is causing TopArticles API to fail"
The TopArticles endpoint is failing intermittently. It fails once every two or three queries. As a result Hoaxy is showing an error on the front page, instead of the lists of top popular claims and fact-checks.

* The log of Hoaxy shows that when there is an error we get this exception (see below). It looks like something related to an invalid transaction.
* The error pops up around 9 AM 06/01. Lo

[2018-06-02 01:17] glciampaglia commented on #3
It looks like these tables are touched in many different parts. We should break down this task in multiple smaller tasks. @shaochengcheng please list here all the parts that require to be changed, so that we can split the work between the two of us.

[2018-06-02 01:45] glciampaglia commented on #13
We discussed this issue. Even though the new layout makes it easier to look the ID of the quoted tweet, we still need to go through the `quoted_status` object for other operations, so there is really no change that needs to be done. Closing!

[2018-06-02 01:45] #13 closed

[2018-06-02 14:05] shaochengcheng commented on #15
Two Bugs fixed. 1. query the top articles 2. generate top articles.

[2018-06-14 14:54] glciampaglia commented on #6
There is an additonal issue related to the article extraction API. To reduce duplicate results in the frontend we group together articles that have the same title and domain name. However there are examples where Mercury fails to parse the title correctly, and so it groups together different articles from the same website. For example, there are several thousands articles from `globalresearch.ca`

[2018-06-26 15:47] shaochengcheng commented on #3
Work is done. The update is running under server, let wait and see if there are problems.

[2018-07-03 23:13] filmenczer opened #16 "Reduce size of tweet table"
Per @shaochengcheng we can eliminate tweets without URLs in the existing database, and prevent storing them in the future.

[2018-07-04 01:08] glciampaglia commented on #3
The space has been freed on the server, so closing.

[2018-07-04 01:08] #3 closed

[2018-07-05 14:46] glciampaglia commented on #5
We discussed the issue again.

We agreed to use a threshold of two lists as the consensus.

We also discussed the problem with the cap limit. Currently we collect between 100K ad 300K tweets every day. If we increase the amount of sources, we need  to be careful not getting into the 1% cap limit of the API. Currently the cap is approximately 3M tweets a day. So we on top of ranking the sources wit

[2018-07-12 14:23] glciampaglia opened #17 "Optimize tweet insertion"
Switch to batch insertion

[2018-07-13 01:37] shaochengcheng commented on #17
# Descriptions

The purpose of tweet parsing is to split a tweet JSON data into several associated data structures, e.g., tweet, url, twitter_user, hashtags and etc. If we would like to save these data structures into a database, the relationships of tables should also be taken considered. For relationships like one-to-one (e.g., table `tweet` vs. `ass_tweet`) and one-to-many (e.g., table `twitter

[2018-07-26 16:38] filmenczer opened #18 "Knowledge transfer"
We should have @shaochengcheng and @chathuriw talk to see how Chathuri might help with maintenance and enhancements of the back-end in the future, as Chengcheng has less time to devote to the project.

Chathuri and @benabus will study the documentation, then we will schedule a meeting, also including  and @filmenczer @glciampaglia.

[2018-08-24 07:21] shaochengcheng opened #19 "Lucene query string parser option `use_lucene_syntax`"
How we provide the default behavior when parsing the query string by Lucene, specifically, the `use_lucene_syntax` option in the API.

I am thinking to provide three values for this field:

- False, do not use Lucene syntax
- True, do use Lucene syntax
- None, inferring it by the query string that tries to parse it as Lucene syntax if an error occurs then do parse without Lucene syntax.

And the d

[2018-08-30 15:01] glciampaglia commented on #19
The documentation for Lucene syntax is here: https://lucene.apache.org/core/2_9_4/queryparsersyntax.html

[2018-09-13 15:17] glciampaglia opened #20 "Convert to Hoaxy to Python 3"
To do:
- [x] Test current code for Hoaxy-Python3
  - [x] Test cron jobs
  - [x] API Testing; be sure to use keys in header of request (@benabus); make any fixes if needed
- [x] Deploy Python3 code to production (on burns) (switch production instance to Python3)
- [x] #6 (Article extraction pipeline; replace Mercury) **<-- DEADLINE!**

As part of the new extraction pipeline (#6) we want to run goos

[2018-09-13 17:57] ZacMonroe commented on #20
I have finished using 2to3 on every *.py file contained in hoaxy-backend in a local git repo on my computer. I went through the hoaxy-backend/requirements.txt file and checked each requirement online, and each of the requirements (with the occasional minimum version requirement) has Python 3 support. Should we require a newer version of scrapy than 1.3 (most recent version is 1.5.1)?

[2018-09-13 18:09] ZacMonroe commented on #20
I spoke to Fil, and we agreed that the changes I made require major testing before pushing to the official release repository. @shaochengcheng , @glciampaglia how would be the best way to test if the changes are okay?

[2018-09-13 18:28] glciampaglia commented on #20
Agree with Fil about testing. We need to make these changes in a separate
branch, so that we can keep working on the Python2 code while we make all
the necessary tests.

As for the tests, basically we will need to run a test instance of Hoaxy on
a different machine. To make sure all parts work.

This explains branches:
https://help.github.com/articles/about-branches/
https://git-scm.com/book/en/v2

[2018-09-13 18:29] glciampaglia commented on #20
Oh I just saw you created a pull request --- that's exactly what we need (a
pull request is basically a branch, but it can be reviewed from the web
interface of Github).

G

On Thu, Sep 13, 2018 at 2:27 PM Giovanni Luca Ciampaglia <
glciampagl@gmail.com> wrote:

--
Giovanni Luca Ciampaglia ∙ glciampaglia.com
Assistant Professor
Computer Science and Engineering
<https://www.usf.edu/engineering/cse/

[2018-09-13 18:29] ZacMonroe commented on #20
Perfect. I made the pull request on branch origin/issue-new-parser.

[2018-09-13 18:36] glciampaglia commented on #20
Mmmh, it would be better to keep the development of the new extraction
pipeline and the port to Python 3 distinct from each other.

If you haven't made any modification to the extraction code yet, would you
please rename that branch something like "hoaxy-python3"?

If you already made some changes, would you please create a separate branch?

It is possible to write code that runs with both Python

[2018-09-13 18:43] ZacMonroe commented on #20
Done. I had not worked directly on hoaxy's files when testing parsing methods, only other files.

[2018-09-27 14:28] filmenczer commented on #18
It would be good for @ZacMonroe and @chathuriw to keep in sync as they are both learning about the code base and installation, and Zac is also updating the code to Python 3, and dealing with changes in Lucene/PyLucene.

[2018-09-27 14:29] filmenczer commented on #20
Adding @chathuriw because she is also dealing with installation and Lucene issues.

[2018-09-27 14:46] filmenczer commented on #16
Assigned @shaochengcheng again as he explained that this is a more complex job than we thought at first. We also need to delete tweet rows in which there is a URL but it is not to one of our sources. To do this we must join with the URL table, because the tweet table only has shortened URLs. However, as the old parser failed in some cases, there may be URLs that we want and that are not in the URL

[2018-10-11 15:53] filmenczer commented on #20
Once Zac succeeds in upgrading to Python 3, he will document and share with @chathuriw. @clayadavis further suggests that we build a conda package for PyLucene (or even the entire Hoaxy?), in order to make it easier to replicate the build process on other machines in the future.

[2018-10-11 16:19] glciampaglia commented on #20
Developing a conda package or a even a docker container for the whole Hoaxy could be a good project for Val's team.

[2018-11-01 15:02] glciampaglia opened #23 "Consider new search fields"
As part of the migration to Python 3 #20, we had to make some changes to the [indexing class](/IUNetSci/hoaxy-backend/blob/master/hoaxy/ir/index.py) of Hoaxy. It would be nice to see if there are additional fields that would be worth indexing. For example, we might want to search only by domain (e.g. breitbart, infowars), or by language (e.g. Portoguese, Spanish).

[2018-11-29 16:00] ZacMonroe commented on #5
We will have to revisit the policy in light of the fact that we do not currently have a well-maintained list of claim sources.

[2018-11-29 17:24] yangkcatiu opened #24 "TopArticle API failing intermittently"
![screen shot 2018-11-29 at 12 24 17 pm](https://user-images.githubusercontent.com/31357713/49239838-b8dce980-f3d1-11e8-8fe6-4cab2b443afc.png)

[2018-11-29 17:40] filmenczer commented on #24
This is the error we discussed with @glciampaglia at our last meeting. Ben will take care of the exception in the front end so the website is usable again, but @shaochengcheng should look into this problem on the back-end.

[2018-12-06 17:37] yangkcatiu commented on #5
Possible source of misinformation sites:
- claim review database built by Zoher.
- from first draft, https://www.newstracker.org (need to access through slack)
- reproduce the snowballing method from first draft using our own Twitter data
- contact veracity.ai or ask Knight Foundation to mediate

[2018-12-06 18:01] glciampaglia commented on #5
I was given access to veracity.ai and can share API keys if needed.

On Thu, Dec 6, 2018, 12:37 Kaicheng(Kevin) Yang <notifications@github.com
wrote:

[2018-12-10 14:33] benabus commented on #15
I did fix this in regards to the top articles.  This particular issue must be some somewhere else.  I'll look into it.

[2018-12-13 18:14] filmenczer commented on #5
@benabus will follow up with Cameron (cameron_hickey@hks.harvard.edu) about getting access to list of sources on newstracker.org

[2019-01-09 16:04] filmenczer commented on #24
Discussed; cannot find traces of the error in logs; will keep issue open.

[2019-01-09 16:20] benabus commented on #15
See https://github.com/IUNetSci/hoaxy-backend/issues/15

[2019-01-09 16:20] #15 closed

[2019-01-16 15:33] filmenczer opened #25 "Create Hoaxy development app"
Do this using the Twitter app interface, under the @truthyatindiana approved developer account
- [x] Add description to both this and the existing Hoaxy app, so they match
- [x] document at https://github.iu.edu/truthy-team/truthy/wiki/Twitter-developer-accounts-and-apps

[2019-01-17 16:07] ZacMonroe commented on #25
Done.

[2019-01-17 16:07] #25 closed

[2019-01-23 15:20] filmenczer commented on #20
Success! Final steps:
- [ ] Set up small test database and API server using gunicorn on Lenny (@ZacMonroe and @chathuriw)
- [ ] Update README instructions (@ZacMonroe and @chathuriw)
- [ ] API Testing; be sure to use keys in header of request (@benabus); make any fixes if needed
- [ ] Make sharable images for stable version (@chathuriw)

[2019-01-23 15:23] filmenczer opened #26 "Make sharable images for back-end stable version [Docker]"
After update is complete (#20).

[2019-01-23 15:43] filmenczer commented on #23
Language would be difficult, maybe require Solr -- deferred until a future time. But we could index by domain and/or domain type (tag). This would require two steps:
1. Re-index existing collection via Lucene
2. Modify the cron job that indexes new incoming document
3. Modify the API so that it accepts the new parameters

[2019-01-24 15:13] ZacMonroe commented on #20
I am trying to set up the test database but I am not a sudoer on Lenny. Is there a way around using `sudo -u postgres`?

[2019-01-24 18:41] clayadavis commented on #20
@ZacMonroe what is your IU username? I'll add a Postgres role for you on lenny.

[2019-01-24 20:41] clayadavis commented on #20
I added role 'zcmonroe' to postgres with permissions to create databases, and a database named 'zcmonroe'. You can also create new databases if you want.

Just log into lenny, and then do `/usr/pgsql-10/bin/psql`. The regular `psql` command is an old version. You can to prepend `/usr/pgsql-10/bin/` to your `$PATH` in your `.bashrc` if you want `psql` to work without using the path every time.

[2019-01-27 15:41] ZacMonroe commented on #20
Thank you all for your help with this. Quick question: is there a reason
that I can't connect directly to lenny from my computer, but after
connecting to carl I can?

The error message that I'm receiving is "ssh: connect to host
lenny.cs.indiana.edu port 22: No route to host".

Cheers,

Zac

On Thu, Jan 24, 2019 at 3:41 PM Clayton A Davis <notifications@github.com>
wrote:

[2019-01-27 15:59] glciampaglia commented on #20
I have noticed this in the past. I think that the administrators decided to
filter the SSH port for Lenny since it runs a database, but I am not sure
whether intentionally or not. I remember this started more than a year ago.

G

On Sun, Jan 27, 2019, 10:41 Zac Monroe <notifications@github.com wrote:

[2019-01-31 02:34] shaochengcheng commented on #20
Hi, this should be an issue of the string object behavior changes from
python 3 over python 2. @ZacMonroe, we met this issue before and I believe
it is not hard to correct.

Thanks
Chengcheng

On Thu, Jan 31, 2019 at 3:29 AM Chathuri Peli Kankanamalage <
notifications@github.com> wrote:

[2019-01-31 15:04] ZacMonroe commented on #20
@chathuriw @shaochengcheng It looks actually like a string is being passed into `parse_site()` (instead of a dict). Tracing it back to when `parse_site()` is called in that file (line 371), `load_sites()` is trying to parse each site in `sites`, which is a loaded yaml file. Perhaps the yaml file that you're using has been formatted incorrectly according to the methods' requirements? I personally u

[2019-02-04 14:58] chathuriw commented on #20
@ZacMonroe and @shaochengcheng thank you for the suggestions. I removed site.yaml from .hoaxy folder and now I'm able to run 'hoaxy init' without errors. I started twitter stream 'hoaxy sns --twitter-streaming' and it is running without any issue. Then I ran 'hoaxy lucene --index' which gives me this.

(hoaxy-python3) chathuri@chathuri-Latitude-E7450:~/IUNI/hoaxy-backend$ hoaxy lucene --index Trac

[2019-02-12 05:45] filmenczer commented on #6
This is now high priority because the Mercury Web Parser API will be shut down on April 15, 2019. The Mercury Parser code is now free and open-source (https://github.com/postlight/mercury-parser), so we should be able to incorporate it into our pipeline!

[2019-02-13 17:04] glciampaglia commented on #6
This is the code for the Mercury API server: https://github.com/postlight/mercury-parser-api

As mentioned today, it would be much easier to integrate Mercury using the API rather than trying to run it directly from within Hoaxy, which would be highly complex due to the fact that Mercury appears to be written in a different language other than Python (Javascript).

[2019-02-27 16:24] filmenczer opened #27 "Control panel"
For non-technical users, such as newsrooms, we would like a more friendly way (compared to CLI) to modify the config file. Idea: a control panel to manage backend settings like domain lists and API keys, on the fly.

[2019-02-27 16:27] filmenczer commented on #5
Cameron will provide URL for access to list of domains from NewsTracker. @chathuriw will be point of contact.

[2019-03-06 15:50] ZacMonroe commented on #27
We discussed this, and we decided to work toward a simple web interface for quick-install and for changing configuration options.
This should work after we have a friendly way to install Hoaxy with Docker.
- [ ] Domains to track
- [ ] API Keys
- [ ] Restart Hoaxy after changing configuration options

[2019-03-06 15:52] ZacMonroe commented on #24
We have not observed problems for a couple months; closing for now.

[2019-03-06 15:52] #24 closed

[2019-03-06 16:01] ZacMonroe commented on #20
- [ ] Test current code for Hoaxy-Python3
- [ ] Update master branch
- [ ] Deploy Python3 code to production (on burns)
- [ ] #6 (Article extraction pipeline; replace Mercury)
- [ ] Dockerize Hoaxy

[2019-03-06 16:04] #18 closed

[2019-03-07 20:13] filmenczer commented on #20
We discussed on 6 March 2019 and decided in favor of docker container over conda package solution. Moved to-do list to top of thread.

[2019-03-13 20:53] filmenczer commented on #5
Updates:

- We got the NewsTracker API link. JSON endpoint returns top 500 domains updated in the last month, ordered by when they were last updated.  The data shared also includes the date the domain was added to NewsTracker, as well as the domain’s registration date if available.

- We heard back from Danny Rogers of Veracity.ai/Global Disinformation Index about their list of junk news domains.

[2019-03-14 23:22] filmenczer commented on #6
@ZacMonroe could you please check [newspaper3k](https://pypi.org/project/newspaper3k/) and see how it compares to Mercury, Goose3 and Dragnet?

[2019-03-19 15:32] lucmski commented on #27
Hi,

Hope you are all well !

Just to share with you a dockerfile on my fork: https://github.com/lucmski/hoaxy-backend
https://github.com/lucmski/hoaxy-backend/blob/dockerize/Dockerfile
https://github.com/lucmski/hoaxy-backend/blob/dockerize/docker-compose.yml

For a backend, I would suggest (py3):
https://github.com/aio-libs/aiohttp_admin/tree/master/demos/blog_react

For fetching tweets (py3):
h

[2019-03-20 17:33] giapippa opened #28 "GET Articles (Hoaxy API): strange behavior on "date_published" query filter"
Hello there,
I found some strange behavior with the Lucene index on "date_published". (using Hoaxy API on rapida-I)
My goal is to retrieve all articles collected by Hoaxy at the highest granularity (hours or minutes). I noticed that:
1) the term range filter has problems on the same day (so no hope of filtering on different hours of the same day)
2) the simple query has problem with the "T" (I had

[2019-03-21 01:43] filmenczer commented on #28
@shaochengcheng any comments on this?

[2019-03-23 15:04] shaochengcheng commented on #28
Hello @giapippa, thanks for your feedback.

Firstly, a quick answer: you are right, I just aware of this strange behavior and marked it as a bug. I am sorry that I could not fix it right now.

Secondly, I would like to clarify that it is not correct when you used terms like '2014-01-01?00*'.

1. The field 'date_published' is stored and indexed as a string in format 'yyyy-mm-ddThh:mm:ss', which is

[2019-03-23 15:13] giapippa commented on #28
Hello @shaochengcheng,
thanks for the remark on the regex.

As a matter of fact I was already using the day-by-day filter -- as you suggest -- but then I could only obtain up to 100 results per query (which did not always correspond to the number of this). By the way, is it something you plan to change in the future (e-g- allowing a persistent connection in different chunks, maybe)?

Francesco

[2019-03-23 15:23] shaochengcheng commented on #28
Hi @giapippa,

We have an internal ranking algorithm to rank the queried results by both their lucene scores and sharing tweets. Currently, at most 100 results would be returned, which you may also notice from our frontend (hoaxy.iuni.iu.edu).

@filmenczer, we will discuss in the next meeting whether to open an option to enable the `article` API to return as many results as possible for advanced u

[2019-03-25 18:46] chathuriw commented on #27
Hi @lucmski,

Thank you for your contribution. I tried to build the image from the docker file and got the following error.

Get:9 http://deb.debian.org/debian stretch-updates/main amd64 Packages 2019-01-26-1412.04.pdiff [3276 B]
Get:10 http://deb.debian.org/debian stretch-updates/main amd64 Packages 2019-02-21-2009.35.pdiff [4149 B]
Get:10 http://deb.debian.org/debian stretch-updates/main amd64 P

[2019-04-02 12:07] lucmski commented on #27
can u try with this one using alpine ?
https://gist.github.com/lucmski/87f13b669422c2f057b500404a01d359

[2019-04-03 14:50] filmenczer commented on #28
We discussed these issues. Regarding the issue with time searches, @shaochengcheng is looking into it.

Regarding the 100-result limit, this limit is necessary so that our back-end does not get overwhelmed and is able to respond to queries from the front-end.

[2019-04-10 14:41] ZacMonroe opened #29 "Python3 Deployment"
After the transition to Python3:

- [x] Check scrapy version, make sure that the error with `source activate hoaxy-backend && hoaxy --console-log-level=critical crawl --fetch-html --limit=40000` does not reappear
  - [x] This error is caused by a bug of the old version scrapy, when the host name of the crawling HTTPS website is represented as IP address. It is stated in https://github.com/scrapy/s

[2019-04-10 15:48] glciampaglia commented on #29
There may be other people we are not aware of running their own installations; we should probably document in the README the upcoming change, since the new code is likely not going to be compatible with Python 2 anymore.

[2019-04-10 15:54] filmenczer commented on #29
I moved the documentation tasks from issue #20 to here.

[2019-04-10 16:15] glciampaglia commented on #29
Do we have a backup of the DB before we proceed with the cleanup step?

[2019-04-10 16:26] filmenczer commented on #29
Talking about the test DB, no problem deleting.

[2019-04-10 16:32] glciampaglia commented on #29
OK, sounds good. FYI, Recall does have a weekly backup schedule.

[2019-04-10 19:11] chathuriw commented on #29
@glciampaglia Do we have any instruction on how to set up hoaxy in gunicorn? Do we need to ask Rob to open a port in Lenny ?

[2019-04-10 19:24] glciampaglia commented on #29
AFAIK it should work using a reverse proxy, similar to OSoME tools, so it should not be need to open a port on the firewall. As far as running it, you need to add an entry to supervisord's configuration file (under /etc). You can take a look at the same file on burns for the actual entry.

[2019-04-10 19:36] chathuriw commented on #29
Lenny does not have apache installed. Do I need to ask Rob to install apache in Lenny ? As cnetsadmins can we install apache ?

[2019-04-10 19:49] glciampaglia commented on #29
No, we cannot install packages with cnetsadm, and I wouldn't install Apache on lenny if it's not already installed. Apache is installed on smithers and carl. What about creating a new virtual host on carl (e.g. `hoaxy-test.cnets.indiana.edu`)? @filmenczer

[2019-04-14 14:53] ZacMonroe opened #30 "Networkx issues"
- If we use the latest version of networkx alongside the Python 3 code, networkx seems to break

[2019-04-17 14:27] #6 closed

[2019-04-17 14:45] ZacMonroe commented on #30
Update the code and then also specify the version of neworkx (as well as all other packages; see current running instance for version numbers).

[2019-04-17 14:53] ZacMonroe opened #31 "Move Hoaxy logs"
Update the config file so that the logs are stored on /l/cnets (GFS) rather than the truthy user home directory, and move the logs that are currently there.

[2019-04-17 14:57] #20 closed

[2019-04-17 15:12] ZacMonroe opened #32 "Check dashboard botscores"
The cron job that gets the Botometer scores to put into the dashboard can fail (returning n/a) possibly because of RapidAPI or Botometer API rate issues. Slow down the requests and/or add a check that retries after a while.

[2019-04-24 14:38] filmenczer opened #33 "Mercury path config file"
We fixed the absolute path for the js code that calls the Mercury parser, but for robustness, this should be placed in the config file.

[2019-04-24 14:45] filmenczer opened #34 "Article parser title and date"
We need to check why paper3k and mercury are failing in retrieving titles (and dates) when parsing articles such as https://www.snopes.com/fact-check/ocasio-cortez-price-is-right/

Then we will need to re-parse the articles that currently have null title (and date?) in the DB.

[2019-04-24 15:17] filmenczer opened #35 "Problems with duplicate and missing results"
Currently the front-end gets weird results from the back-end:

* There are articles missing (eg the top one for "vaccines" query)
* There are duplicates of the same article (so that clicking on one selects both)
* There are near-duplicates, eg differing in 'http' vs 'https' or escaped &amp; in URL

In the article table, the column `group_id` is meant to identify multiple copies of the same article

[2019-04-30 18:57] chathuriw commented on #34
If the title is not returning from newspaper3k, parser will try mercury parser. After that, I updated the status_code in URL table to 40 for articles that have empty titles and reparse the articles.

[2019-04-30 18:57] #34 closed

[2019-04-30 18:58] chathuriw commented on #30
Hoaxy is working with new networkx version.

[2019-04-30 18:58] #30 closed

[2019-04-30 18:59] chathuriw commented on #35
We no longer see duplicates, missing articles

[2019-04-30 18:59] #35 closed

[2019-04-30 22:54] filmenczer commented on #5
Let us also look at the UnNews index from Poynter's IFCN: https://www.poynter.org/ifcn/unreliable-news-index/

[2019-05-01 14:39] filmenczer opened #36 "Test and revise article parsing pipeline"
Test (and also analyze hoaxy backend log) to measure how often one or the other parser fails/succeeds at getting all required fields. Note that if content is indeed empty, that should not be interpreted as a parser error. We may need to revise the pipeline based on these results, eg, switch order, use both and merge fields, or add other parser...

[2019-05-01 15:00] filmenczer opened #37 "Fix escaping of URL"
Mercury fails if URL includes regexp characters, as in this example:

https://www.dcclothesline.com/2019/05/01/illinois-democrat-castrate-men-to-end-abortion-tax-them-to-store-sperm/****TRUMP/

[2019-05-02 14:31] chathuriw commented on #33
This is done.

[2019-05-02 14:31] #33 closed

[2019-05-08 14:13] ZacMonroe opened #38 "Determine cause of UnhandledPromiseRejectionWarning"
When Cron job does the following command:

`Cron <truthy@burns> source activate hoaxy-be-py3 && hoaxy --console-log-level=critical crawl --parse-article --limit=10000`

we get the error:

`(node:10396) UnhandledPromiseRejectionWarning: Error: ESOCKETTIMEDOUT
    at ClientRequest.<anonymous> (/nfs/nfs7/home/truthy/node_modules/postman-request/request.js:1025:19)
    at Object.onceWrapper (events.js

[2019-05-08 14:22] ZacMonroe commented on #29
We're ignoring this error for now because now it's a warning instead of an error, and we assume it's OK to skip pages with certificate errors.

'Remote certificate is not valid for hostname "104.238.181.150"; Invalid DNS pattern b'104.238.181.150''

[2019-05-08 14:24] ZacMonroe commented on #16
We should also check that if the tweet DOES contain a URL but it is not in a target domain, then that URL should not be parsed nor stored.

[2019-05-08 14:59] ZacMonroe commented on #36
For most fields, a merged strategy of parsing works.
- For the title field, if it cannot be found, then we skip the article.
- For the date_published field, if it cannot be found, then we set it to the empty string.
- For the dek field, it's never found so we set it to empty.
- For the author field, if it cannot be found, we set it to the empty string.

@shaochengcheng, would you please check that

[2019-05-08 15:02] ZacMonroe commented on #36
The plan for merging the two parsers' results is to first use Mercury, and if any fields are missing, try to fill them with newspaper3k.

[2019-05-09 01:18] shaochengcheng commented on #36
@ZacMonroe, the working flow sounds good for me. `date_published` could be empty for a parsed article in the database. However, when doing index or outputting API service, we should merge it with `date_captured` column. Our current code has already taken care of it, e.g., [lucene index](https://github.com/IUNetSci/hoaxy-backend/blob/master/hoaxy/commands/lucene_cmd.py), mostly by utilizing the SQL

[2019-05-09 14:03] filmenczer commented on #36
If I understand @shaochengcheng 's feedback (thank you!), we need to check that `date_published` and `date captured` are merged when the API returns recent results (sorted by date). Then we can proceed.

[2019-05-10 17:43] chathuriw commented on #37
This is done. We escape the characters and set '/:?=&' as valid characters.

[2019-05-10 17:43] #37 closed

[2019-05-10 17:46] chathuriw commented on #31
It seems we can't change the config of hoaxy.log, in order to change the path, we need to change hoaxy-home.

[2019-05-10 18:39] chathuriw commented on #38
After some research on the issue, most of the solutions suggest increasing the 'UV_THREADPOOL_SIZE' environment variable. I did that and let's wait and see if we get this issue again.

[2019-05-15 14:05] filmenczer commented on #38
Closing for now, hoping it was resolved.

[2019-05-15 14:30] filmenczer commented on #31
@shaochengcheng explains that the log is configured on a rotation, so it should not take too much space --- only around 350MB.

[2019-05-15 14:30] #31 closed

[2019-05-15 18:44] chathuriw commented on #36
I change the code to use mercury parser first and set the default to NULL.

[2019-05-15 19:27] chathuriw commented on #29
@filmenczer There are no unnecessary directories in truthy home as I can see. I clean up conda environment which took most of the space.

[truthy@burns ~]$ du -s * | sort -nr
7518352	miniconda3
642524	pylucene
626248	java
496336	code
113524	node_modules
108252	botometer-database
85340	nltk_data
4752	hoaxy-python3
452	2018-07-01.json
192	crontabs
60	hs_err_pid9349.log
60	hs_err_pid8111.log
60	hs_er

[2019-05-28 14:32] chathuriw commented on #38
I created a issue in mercury github, but did not hear anything. https://github.com/postlight/mercury-parser/issues/423

[2019-05-29 14:26] filmenczer commented on #38
We discussed the issue. Until/unless we get a response from the mercury-parser developers, we can suppress the timeout warning by catching the exception and treat it as if we had failed to extract the needed fields from the parser. @chathuriw will take care of this part.

A more effective and efficient solution would be to skip the re-fetching of the page by Mercury via the URL, since the page has

[2019-05-29 14:28] #36 closed

[2019-05-29 14:30] filmenczer commented on #29
@filmenczer will take care of communicating the update as soon as we resolve the pending Mercury timeout issue.

[2019-05-30 14:11] chathuriw commented on #38
@filmenczer I catch the exception and checking for the exit code from the node js file.

[2019-05-30 23:54] filmenczer commented on #38
Great --- moving this from Python 3 Port milestone.

[2019-06-02 00:51] lucmski opened #39 "docker-compose / cache / queues"
Hi,

Hope you are all well !

Just was wondering if hoaxy would be soon released as a docker-compose for the front and back end as a quick starter.

Have u added httpcache (x-vary) middleware (eg https://github.com/gregjones/httpcache) or twitter accounts queueing to the task list (eg. https://github.com/Nedja995/twint_server) ?

Thanks for the hard work ^^

Cheers

[2019-06-02 23:14] filmenczer commented on #38
Warnings are continuing...

[2019-06-19 14:29] filmenczer opened #40 "clean up Hoaxy log"
Use @shaochengcheng's logging convention to save log entries. Eg, see function `configure_logging()`

[2019-06-19 14:47] filmenczer commented on #29
@fil will communicate/advertise about new (Pythin3) version and AMI: see instructions at https://github.com/IUNetSci/hoaxy-backend#hoaxy-backend-as-aws-image-ami

[2019-06-19 14:53] marcmccarty commented on #29
@filmenczer will communicate/advertise about new (Pythin3) version and AMI: see instructions at https://github.com/IUNetSci/hoaxy-backend#hoaxy-backend-as-aws-image-ami

[2019-06-19 14:59] filmenczer commented on #16
All that remains to be done is to clean up old tweets in DB without a URL

[2019-06-19 15:10] filmenczer commented on #38
The warning is solved, now we need to see how often the problem occurs. @chathuriw will get a rough estimate of how often the Mercury parser fails (%age of documents per day), so we can decide whether we need to look further into the parsing errors.

Then we can decide whether to optimize to avoid repeated downloads of the same page.

[2019-06-19 22:58] yangkcatiu opened #41 "Handling the 502 proxy error from Botometer API"
We can add a extra `requests.exceptions.HTTPError` to the following line:

https://github.com/IUNetSci/hoaxy-backend/blob/f0eb49e8d316f5a8a29b1f30023e5d803f45cff3/hoaxy/commands/report.py#L100

So that when the proxy error happens, Hoaxy will try again for 3 times.

[2019-06-19 23:59] #29 closed

[2019-06-20 00:05] filmenczer commented on #39
Working on Docker (#26). In the meanwhile, an AMI is available for EC2 (see https://github.com/IUNetSci/hoaxy-backend#hoaxy-backend-as-aws-image-ami).

Not sure about other questions...

[2019-06-20 15:21] lucmski commented on #39
I meant is it possible to distribute a list of twitter usernames to fetch and get their botometer score async like with payloads managed by rabbitmq or celery. Globally, it is more about handling more data and being able to resume tasks. (get the last tweet id scraped so it prevents using resources).

[2019-06-20 16:52] lucmski commented on #39
Example for a front/server dockerfile (alpine/nodejs v11.x):
https://gist.github.com/lucmski/b4a143b0bf026448f159e6bf463ed0c2

Example for hoaxy-backend (alpine 3.9/mininconda2):
https://gist.github.com/lucmski/87f13b669422c2f057b500404a01d359

If needed, I can do a miniconda3...

[2019-07-01 13:22] chathuriw commented on #39
Thank you for your contribution @lucmski. I will check the docker files and let you know.

[2019-07-03 14:25] filmenczer commented on #40
@chathuriw working on this, but first we need to resolve conflicts with non-committed revisions to production code.

[2019-07-05 15:24] chathuriw commented on #39
@lucmski, I'm trying the docker file for hoaxy-backend. I was able to follow first three steps. I'm stucked with step 4 (https://gist.github.com/lucmski/87f13b669422c2f057b500404a01d359#run-docker-container).
I think there is a typo in the first command in that step. (docker -ti --rm lucmichalskip/hoaxy-backend:alpine-miniconda2-jdk8 hoaxy -h)

I'm getting this error. "unknown shorthand flag: 't'

[2019-07-10 14:23] filmenczer commented on #38
It seems the events triggering the warning are rare (one in a few days). @chathuriw will check %age and assuming it is low, will close issue.

[2019-07-11 16:27] chathuriw commented on #38
Sorry I did a miscount of the errors. It seems we are getting more errors. From 2019-07-05, we got 109 error messages. The total number of articles we passed after that day is 9068. so the percentage is 1.2%.

[2019-07-11 22:15] filmenczer commented on #38
1.2% is not huge but also not as small as we hoped... Would it be possible to look at some pages that are triggering these errors, to see if they are inevitable (problems with the pages that we cannot control) and therefore should be ignored? If instead the pages look okay, then we need to look for problems in the parser... Do the logs have the problematic URLs?

[2019-07-15 14:20] lucmski commented on #39
forgot to add 'run' command sorry, the gist was updated

[2019-07-16 13:51] chathuriw commented on #38
Here are some of the urls.

http://www.newsbiscuit.com/2019/07/15/northern-irelands-bonfires-just-a-bit-of-traditional-harmless-fun-say-dup/
http://www.newsbiscuit.com/2019/07/15/tennis-courts-fully-booked-up-until-wednesday/
http://www.newsbiscuit.com/2019/07/15/gay-activist-defends-idiot-reversion-therapy/
https://www.redstate.com/setonmotley/2019/07/15/localities-shouldn%E2%80%99t-dictating-int

[2019-07-16 15:12] chathuriw commented on #40
Cleaned up for article-parsing.

[2019-07-16 19:57] filmenczer commented on #38
Thanks -- these pages have lots of html errors (see validator.w3.org) and one is password protected.

On the other hand, these issues may be common among, say, WP sites...

[2019-07-17 14:40] filmenczer commented on #38
We tested the problematic articles using https://newspaper-demo.herokuapp.com/ and it seems that paper3k can parse them. Therefore @chathuriw will handle these errors as we do for articles where we are unable to extract fields, so that the article will then be parsed via paper3k.

[2019-07-17 14:41] #40 closed

[2019-07-19 21:04] filmenczer commented on #32
Currently failing... No scores showing on the dashboard.

What keys are we using? Let's also make sure we're using a correct set of keys...

[2019-07-24 15:00] filmenczer commented on #38
@chathuriw implemented the fix. She will close this issue once she checks the logs and confirms that it is working as planned.

[2019-07-25 18:36] yangkcatiu opened #42 "Replace old mashape base URL with rapidAPI"
https://p.mashape.com => https://p.rapidapi.com

[2019-07-31 14:54] filmenczer commented on #42
Also update the HTTP headers using 'Mashape' or 'MASHAPE'. For new headers see https://docs.rapidapi.com/docs/headers-sent-by-mashape-proxy2

[2019-07-31 15:13] filmenczer commented on #32
We updated the keys to use the official @Truthyatindiana Hoaxy app and it works again!

[2019-07-31 15:13] #32 closed

[2019-07-31 15:28] filmenczer commented on #5
Need more discussion of our options, such as using veracity.ai or implementing our own 'crawler' similar to newstracker...

[2019-07-31 16:54] chathuriw commented on #38
I checked the logs and most of the times, it fails with Newspaper3k as well with empty content and title.

[2019-07-31 16:59] filmenczer commented on #38
Okay. Nothing we can do about that, but at least we know we are making the best effort. Assuming we are dealing with those cases appropriately -- ignore if both parsers fail -- you can close the issue. Thanks!

[2019-07-31 17:46] #38 closed

[2019-08-06 19:35] chathuriw commented on #42
Added in commit https://github.com/IUNetSci/hoaxy-backend/commit/5380cea0163b762146b9fb30ef85020d459226b0 and deployed in the production.

[2019-08-11 21:38] ChrisTorresLugo opened #43 "Tweet URL"
The Tweet URLs stored in the file that Hoaxy generates seem link to a version of a tweet that only has the first 140 characters, instead of the new max of 280 characters. For example:

This is the link saved by Hoaxy: https://twitter.com/DonGoyoOficial/status/1151497327330365441

This is the result of that link (notice the RT at the beginning and the 3 dots at the end):

<img width="444" alt="Scre

[2019-08-14 15:31] filmenczer commented on #43
We discussed it. This is how Twitter shows retweeted tweets. The URL is correct.

[2019-08-14 15:31] #43 closed

[2019-08-14 16:57] filmenczer opened #44 "Check that quoted tweets are correctly captured"
Make sure that when checking for quoted tweets, they are not mistaken for retweeted tweets.

[2019-08-23 21:06] yangkcatiu commented on #42
It seems there are still some mashape.com based URLs in the backend, for example, the one that fetches botscores.

We probably need to do a search to find all of them.

[2019-08-23 21:10] yangkcatiu commented on #42
We should probably also update the README file about mashape=>rapidAPI

[2019-09-03 14:25] filmenczer commented on #42
This was due to the `botometer-python` library. @chathuriw updated to the latest version (1.4), which should fix the issue. Can close as soon as README is updated.

[2019-09-03 19:59] chathuriw commented on #42
Updated the README, config and code references (https://github.com/IUNetSci/hoaxy-backend/commit/831b8d2def079a8a6a8224a5ec1958e3c791ac6c)

[2019-09-03 19:59] #42 closed

[2019-09-03 20:13] chathuriw commented on #41
Added HTTPError in https://github.com/IUNetSci/hoaxy-backend/commit/e2867ac8e388448ebb5a682de0f15b5126988f2d

[2019-09-03 20:13] #41 closed

[2019-09-04 18:45] chathuriw commented on #39
@lucmski Can you share the Dockerfile lucmichalskip/hoaxy-backend:alpine-miniconda2-jdk8 with us. I'm trying to follow your instructions again and got an error in docker run command. I think it will be easier to troubleshoot if I can see the Dockerfile.

chathuri@chathuri-Latitude-E7450:~/IUNI/hoaxy-backend$ docker run -ti --rm lucmichalskip/hoaxy-backend:alpine-miniconda2-jdk8 hoaxy -h
/opt/conda

[2019-09-05 16:38] lucmski commented on #39
Hi,

Sounds that even my dockerfile is outdated; i need to update it.
Why do not you split into separate service with a docker-compose ?

My telegram is @deepocrates for faster communication.

Cheers,
L

[2019-09-06 17:12] roscopecoltran commented on #39
From fork, https://github.com/lucmski/hoaxy-backend/tree/dockerize-p3/docker

please try:
[code]

[2019-09-11 19:22] ogelin opened #45 "GET Articles queries only return 100 results (Hoaxy API)"
When querying the API, getting articles only return up to 100 results (either the 100 most recent or 100 most relevant results).

I suggest adding a query param to specify how many results are required.

This discussion was opened in #28, but should be considered as a separate issue. The inability to obtain all articles corresponding to a query is extremely limiting to API users.

[2019-09-11 20:49] filmenczer commented on #45
We understand this need. We can consider this request from two perspectives:

1. The version of Hoaxy installed at IU (hoaxy.iuni.iu.edu) must have this limit so that our back-end does not get overwhelmed and is able to respond to queries from the front-end.

2. In the open-source Hoaxy software (this repo), we could consider adding such a parameter, but then there would also have to be a system p

[2019-09-13 15:43] ogelin commented on #45
2 is still pointless if it's impossible to get all the results. It would be best to at least increase from 100 in both 1 and 2. 100 is very small. I doubt incrementing to 1000 or even 10000 would actually overwhelm the back end.

I may also recommend updating how the back-end is hosted. Parallel computing would also prevent the system overloading.

[2019-09-13 17:07] glciampaglia commented on #45
Breaking up the results in smaller subsets (i.e., pagination) would solve the issue. But it would entail a significant intervention on the backend. Unfortunately the middleware we use to implement the API (Flask) does not provide pagination by default. There are third-party extensions that do provide it (e.g. Flask-SQLAlchemy), but in the particular case of the articles endpoint the problem is tha

[2019-09-13 20:57] ogelin commented on #45
Thanks! At least incrementing the max value would already be helpful. I still find 100 surprisingly small.

[2019-09-17 14:45] filmenczer commented on #45
We discussed the issue. We are unable to change the number of articles returned by the API on our own installation of Hoaxy.

@ogelin you are welcome to install Hoaxy on your own server and change the number of results returned. This is a parameter that you will find here: https://github.com/IUNetSci/hoaxy-backend/blob/master/hoaxy/ir/search.py#L148

Closing the issue.

[2019-09-17 14:45] #45 closed

[2019-10-08 15:22] filmenczer commented on #27
After discussion, we decided that the main functionality of this improvement is captured by BotSlayer to **some** extent: it can be used to track links to selected articles specified in the query. although not all links from a domain. Also, giving front-end access to server configuration is ilikely to open security issues. Therefore we are moving this issue to utopia.

[2019-10-22 14:42] filmenczer opened #47 "Make API server configurable"
Let user choose how to configure the API, i.e., using RapidAPI or just the local server.

[2019-10-28 14:21] chathuriw commented on #39
@lucmski merged the docker changes to master. Thank you for your contribution.

[2019-10-28 14:21] #39 closed

[2019-10-28 14:22] chathuriw commented on #26
Dockerfiles are merged to master.

[2019-10-28 14:22] #26 closed

[2019-11-05 15:32] filmenczer commented on #17
@shaochengcheng will change requirements; pandas, networkx and newspaper3k will stay '==' and others will change to '>='.

[2019-11-05 15:33] filmenczer commented on #17
@chathuriw will update server after this update is pushed to master.

[2019-11-12 16:00] marcmccarty commented on #47
There is now a configuration file option to select local or RapidAPI endpoint.

[2019-11-12 16:00] #47 closed

[2019-12-03 16:35] filmenczer commented on #17
It seems everything is working fine; no errors. Closing. @shaochengcheng let us know if there are any remaining tasks related to this issue.

[2019-12-03 16:35] #17 closed

[2019-12-03 16:36] filmenczer commented on #16
@shaochengcheng it seems we could proceed with this, now that the new tweet parser is in place. Can @chathuriw be of assistance?

[2019-12-11 01:01] shaochengcheng commented on #16
In total, 10,747,535 tweets are deleted, two tables are affected that are `tweet` and `ass_tweet`.

No vacuum operation was taken, if we do need, please run it. Now I close this issue.

[2019-12-11 01:01] #16 closed

[2019-12-17 15:56] bwindeler opened #52 "Docker build fail on jcc install"
```docker-compose up``` failed on line 96 of Dockerfile

[code]
[permalink](https://github.com/IUNetSci/hoaxy-backend/blob/61b1cfd80da9efbc932ae8d965560501553dbb2e/docker/Dockerfile#L92-L99)

Error message:
```/opt/conda/compiler_compat/ld: cannot find -lpython3.8m```

Seems to be a python 3.8 compatibility issue

I added ```python=3.7.5``` to the conda install at line 47 to fix and the image buil

[2020-01-09 15:10] bwindeler commented on #52
Some additional fixes:

add mercury parser CLI install to Dockerfile (after changing to workdir /opt/):

[code]

[2020-01-13 19:56] chathuriw commented on #52
@bwindeler thank you for the contribution. I added what you suggested.

[2020-01-13 19:56] #52 closed

[2020-01-14 17:10] filmenczer commented on #5
In the long term we could explore various approaches, including:
* Check with Cameron if we could get a steady stream of suspicious sites
* Use Google News as a filter
* Use lists from publications, by hand
* Use a commercial solution, such as Veracity or the one used in project with Giovanni and Brendan

In the short term, we will make the "Twitter" button the default on the front end.

[2020-02-06 06:03] rootkea opened #53 "Add AltNews.in And BoomLive.in as fact checkers"
Hello!

I India has the largest number of social media users and so consequently the problem of fake news has been the worst in India.
[India Has a Public Health Crisis. It’s Called Fake News.](https://www.nytimes.com/2019/04/29/opinion/india-elections-disinformation.html)

When I tried searching Hoaxy on https://hoaxy.iuni.iu.edu/ I couldn't find India specific content even when I used India spec

[2020-02-06 06:49] filmenczer commented on #53
The version of Hoaxy at hoaxy.iuni.iu.edu is based on US low-credibility and fact-checking sources. We are unable to add sources from other countries.

However, Hoaxy is open source and you are welcome to create a version for India with all the sources you wish to include.

[2020-02-06 06:49] #53 closed

[2020-02-11 16:20] filmenczer commented on #5
Update:
- [ ] In the short term, @yangkcatiu will update the list manually on a one-time basis from recent literature
- [ ] In the longer term, @btrantruong will look at automating the process by scanning the decahose with botometer-lite to detect suspicious sources

[2020-02-18 16:20] filmenczer opened #54 "One-time update of source list"
@yangkcatiu will update the list based on current literature.

Restart?

Update GDoc (so FAQ does not need to be updated)

[2020-03-14 18:19] filmenczer commented on #54
This is done, so closing the issue -- thanks everyone! Will open a separate issue about updating/managing the list from the system's standpoint.

[2020-03-14 18:19] #54 closed

[2020-03-14 18:25] filmenczer opened #55 "Make it easier and document how to update source list"
Ideally, updating the list of sources (domains) should be as easy as updating the file and/or the configuration file and restarting the system. But recently we learned that it's much more complicated, and there is no documentation about how to do it.

If possible, we should make it as easy as described above. Else there should be a command to update the list. And this has to be documented.

In the

[2020-03-15 04:55] shaochengcheng commented on #55
Yes, I will make it as easier as one-line command.

------------------&nbsp;Original&nbsp;------------------
From:&nbsp;"Fil Menczer"<notifications@github.com&gt;;
Date:&nbsp;Sun, Mar 15, 2020 02:25 AM
To:&nbsp;"IUNetSci/hoaxy-backend"<hoaxy-backend@noreply.github.com&gt;;
Cc:&nbsp;"Shao"<rojeeer@gmail.com&gt;;"Assign"<assign@noreply.github.com&gt;;
Subject:&nbsp;[IUNetSci/hoaxy-backend] Make it e

[2020-04-19 17:04] filmenczer commented on #19
We decided to put this aside for the time being, given finite resources.

[2020-04-20 14:24] filmenczer commented on #28
From @shaochengcheng: "The bug ... is about how Lucene search and index datetime things. The current implementation uses seconds since the Epoch, which means that we use integers to store the publication datetime. When searching, a kind of range filter is used. It is not clear why Lucene does not work as expected. If the current logic is right, then there are coding bugs in the implementation. Oth

[2020-04-27 02:30] shaochengcheng commented on #28
## @chathuriw, here are our discussion.

## Message from Chathuri

Hi Chengcheng,

I'm looking at this issue and it seems to be working for me from rapid API for date time in the format of "date_published:[2016-10-28T01* TO 2016-12-04T00*]".

I'm not sure whether I'm missing something here.

![lucene](https://user-images.githubusercontent.com/11503771/80327936-43987100-8870-11ea-900d-4303123c0ff0.

[2020-04-28 06:15] chathuriw commented on #28
Hi Chengcheng,

I think this is working now. What I did was, I update the search function as if the date_published field included in the query, I removed it and add it as a TermRangeQuery and combined it with the parsed query.

This is the code.

[code]
I did not push the changes to the master, but it is updated in the running version for testing now. Please let me know if you see any issues with

[2020-04-30 14:35] shaochengcheng commented on #28
@chathuriw, great work. I understand your approach and believe it would work as expected. However, we just bypass the question WHY HOAXY BEHAVES LIKE THAT. Is it caused by the Lucene Multiparser, or anything else? Moreover, if we have more datetime fields, it is not a graceful solution. Anyway, it works now and because of the limited time, we could close this issue.

[2020-05-03 18:02] maxzzze opened #56 "Docker compose not working"
I tried running the instructions in the README in `/docker` but ran into several issues.

First, the download link for lucene changed: `https://www.apache.org/dist/lucene/pylucene/pylucene-7.7.1-src.tar.gz` should be `https://downloads.apache.org/lucene/pylucene/pylucene-7.7.1-src.tar.gz`.

After changing this I am able to get a bit further in the `docker-compose up` command but run into an issue

[2020-05-09 13:17] mohawk2 commented on #55
This issue shows up as an "easy start to contributing to this project". @shaochengcheng If you have an idea how to achieve it but it's not yet a priority for you, what do you think of at least outlining here the approach you'd take to make it easier for someone else to run with?

[2020-05-09 13:19] mohawk2 opened #57 "Facebook interface? (and CI)"
This is a really impressive project, and also in this era a genuinely important one. I have two questions:
- is there an appetite for making it also look at Facebook information the way it does for Twitter?
- is there an appetite for a continuous integration setup?

[2020-05-09 15:51] filmenczer commented on #57
Facebook does not have an API that we could use in a similar way to Twitter.

[2020-05-12 13:25] chathuriw commented on #28
@shaochengcheng  I pushed the changes to master after handling the case when the string contains regex (https://github.com/IUNetSci/hoaxy-backend/commit/0f1386e787de2f4ed0d12c6e28c5520dd3d1eed9)

[2020-05-12 14:56] #28 closed

[2020-05-12 14:59] filmenczer commented on #57
Given our finite resources, we are unable to use continuous integration at this time. But thanks for the offer!

[2020-05-12 14:59] #57 closed

[2020-05-13 11:50] mohawk2 commented on #57
Well, I was offering to write you a Travis config that would help you, but if you're not interested that's Ok.

Similarly, I believe that the current Twitter MO is:
- gather sites to filter by
- open stream from Twitter filtered by those sites
- process incoming tweets

A Facebook one could be:
- gather sites to filter by
- for each of those, query Facebook's Graph API for connected activity since

[2020-05-13 14:09] glciampaglia commented on #57
Hi @mohawk2, thanks for the suggestion. Let me expand a bit on what @filmenczer mentioned. As far as continuous integration goes, the problem is that our team has limited resources to devote to Hoaxy, and so CI could be impractical for us. We mostly commit medium/large changes on a less frequent basis than what CI typically recommends, so our main concern is that having Travis builds in place woul

[2020-07-04 03:34] shaochengcheng opened #58 "Some of Hoaxy Web APIs need switch to HTTP POST"
The current implementation of the Hoaxy web APIs is in HTTP GET format, which could cause the problem of too long URLs. API like GetTweets should be in HTTP POST format.

[2020-07-14 14:43] filmenczer commented on #5
We should explore the possibility of licensing the list from https://www.newsguardtech.com/ and automatically update our list based on theirs.

[2020-07-21 15:13] filmenczer opened #59 "Comply with new Twitter API"
We need to update our code to comply with the new format of the streaming API: https://blog.twitter.com/developer/en_us/topics/tools/2020/introducing_new_twitter_api.html

[2020-08-18 15:22] filmenczer commented on #59
@shaochengcheng would you like to look into the new Twitter API v2 that was just released: https://developer.twitter.com/en/docs/twitter-api/early-access
We need to make changes in preparation for the deprecation of v1.

[2020-08-19 11:27] shaochengcheng commented on #59
Hi @filmenczer, I just roughly went through the documentation of version 2. Honestly speaking, it is a big improvement that gives us finer control over Twitter data. But this big change also means a lot of work to migrate, I would like to present my two main concerns.

1. About the limits for the number of tweets. According to the [Filtered Stream API Reference](https://developer.twitter.com/en/do

[2020-09-01 14:11] chathuriw commented on #56
@maxzzze I fixed the issue with docker-compose with new pylucene. Let us know if you see any more issues.

[2020-09-08 16:10] filmenczer opened #60 "Fix for Botometer-v4"
The back-end (via a cron job) calles the Botometer Pro API to populate the bot scores in the dashboard (https://hoaxy.iuni.iu.edu/stats.php#influential_users and https://hoaxy.iuni.iu.edu/stats.php#active_users). We need to not only update the botometer-python package, but also unsubscribe to the old (Pro) plan and subscribe to the new (Basic) plan.

[2020-09-08 17:11] yangkcatiu commented on #60
I resubscribed to the new Basic plan on RapidAPI so the frontend is working.

The backend is using the same key so it should be working too. However, it just occurred to me that since we adjust the response of the Botometer API, the Hoaxy backend probably also need some adjustment in addition to upgrade the botometer-python package.

[2020-09-15 16:05] #56 closed

[2020-09-15 16:09] filmenczer commented on #60
See README at https://github.com/IUNetSci/botometer-python

[2020-09-22 03:20] yangkcatiu opened #61 "A bug in network construction"
Line https://github.com/IUNetSci/hoaxy-backend/blob/0f1386e787de2f4ed0d12c6e28c5520dd3d1eed9/hoaxy/ir/search.py#L757 tries to extract the `in_reply_screen_name` field in the tweet object, however, the correct spelling is `in_reply_to_screen_name`.

A possible consequence of the bug is that the final graph doesn't contain the reply edges.

[2020-09-22 15:14] benabus commented on #61
Typo should be corrected or removed.

[2020-09-22 15:21] benabus commented on #60
@chathuriw fixed this

[2020-09-22 15:21] #60 closed

[2020-10-06 15:59] filmenczer commented on #5
@yangkcatiu will explore the possible use of iffy.news index.

[2020-10-20 19:10] chathuriw commented on #61
Removed the function at https://github.com/IUNetSci/hoaxy-backend/commit/bf70d18cd290f5181703f912535d8cf5c6ef2720

[2020-10-20 19:10] #61 closed

[2020-10-27 16:12] filmenczer commented on #55
@mohawk2 thanks for the offer. This turned out to be more complicated than anticipated and we're working on it. If you are still interested, perhaps consider this other issue: #58 or some of the front-end issues: https://github.com/IUNetSci/hoaxy-frontend/issues?q=is%3Aopen+is%3Aissue+milestone%3AImprovements

[2020-11-03 18:04] filmenczer commented on #5
We decided to use the new iffy+ index that will be maintained by Barrett Golding at iffy.news. It will be available on a Google Sheet that we can access via JSON or CSV. It will be updated every few months. How the list is constructed will be clearly documented on the iffy.news website.

We will develop a monthly cron job that gets the iffy+ list and updates our Hoaxy list.

We will update the FAQ

[2020-11-11 13:45] chathuriw commented on #5
@yangkcatiu Does iffy.news only contain claims sites? Or does it contain fact-checking site as well?

[2020-11-11 15:17] filmenczer commented on #5
Only low-credibility ('claim') sources. We can keep the current fact-checking sources. (Maybe we should expand it?)

[2020-11-12 16:26] yangkcatiu commented on #5
Considering that there are not many fact-checking sources, maybe we can expand the list too.

[2020-11-12 16:33] glciampaglia commented on #5
Some good lists:

https://ifcncodeofprinciples.poynter.org/signatories
https://reporterslab.org/fact-checking/

These include non-US, non-English sources too, so they need to be filtered.

[2020-11-12 19:51] yangkcatiu commented on #5
A tentative Iffy+ list is available on Google sheet. I just shared it with @chathuriw . Let me know if anyone else needs access.

[2020-11-17 15:55] chathuriw commented on #55
To add new list of sites, we can use this command :

hoaxy site --load-domain --exclusive --site-type=claim  --ignore-redirected --ignore-inactive /home/data/apps/hoaxy/hoaxy-backend-config/domains_claim_fify.txt

If 'exclusive' specified, it will disable the existing claim sites in the database.

[2020-11-17 16:32] #55 closed

[2020-11-17 16:41] filmenczer commented on #5
The `hoaxy site --load-domain...` command now allows to update the source list(s) (see #55). Each instance of Hoaxy may use this to update the sources that are tracked. Note that after running this command, the Twitter stream needs to be restarted.

For the IU instance of Hoaxy, we will do this periodically based on a third-party list, such as iffy+.

[2020-11-17 16:41] #5 closed

[2021-01-21 15:14] vinaysetty opened #63 "Hoaxy Community AMI"
Hi,

I checked in AWS there is no Hoaxy Community AMIs anymore! was it removed?

VS

[2021-01-22 05:21] filmenczer commented on #63
Is this about Hoaxy or BotSlayer? If the latter, please check the Ohio region as explained in the directions. Please do not post issues about BotSlayer here.

[2021-01-22 05:23] filmenczer commented on #63
Sorry please disregard the above comment.

[2021-01-22 05:33] filmenczer commented on #63
You should set your AWS service region to US East (Ohio) before searching (Account attributes in the top right corner of the page -> Settings -> Zones).

[2021-01-22 05:33] #63 closed

[2021-01-22 13:16] vinaysetty opened #64 "Error when running Hoaxy config"
Traceback (most recent call last):
  File "/home/ubuntu/anaconda2/envs/hoaxy/bin/hoaxy", line 11, in <module>
    load_entry_point('hoaxy==0.1.0', 'console_scripts', 'hoaxy')()
  File "/home/ubuntu/anaconda2/envs/hoaxy/lib/python3.7/site-packages/hoaxy-0.1.0-py3.7.egg/hoaxy/commands/cmdline.py", line 122, in main
  File "/home/ubuntu/anaconda2/envs/hoaxy/lib/python3.7/site-packages/hoaxy-0.1.0-py3

[2021-01-26 11:24] awallemo opened #65 "Error when running hoaxy init"
File "/home/ubuntu/anaconda2/envs/hoaxy/lib/python3.7/site-packages/sqlalchemy/engine/default.py", line 453, in connect
    return self.dbapi.connect(*cargs, **cparams)
  File "/home/ubuntu/anaconda2/envs/hoaxy/lib/python3.7/site-packages/psycopg2/__init__.py", line 130, in connect
    conn = _connect(dsn, connection_factory=connection_factory, **kwasync)
sqlalchemy.exc.OperationalError: (psycopg2

[2021-01-26 13:36] glciampaglia commented on #65
Hello,
What is the name of the database user you created? The error says that user "postgres" could not login, is that the user name you chose?

[2021-01-26 16:05] filmenczer commented on #64
@vinaysetty can you please provide more details? Which version have you installed, AWS or Docker?

[2021-01-27 11:26] awallemo commented on #65
Hi gicimpaglia, I managed to resolve the issue. The problem was I created the users in postgres locally on my mac and not on the virtual machine where I was doing everything else.

[2021-01-27 11:26] #65 closed

[2021-01-27 11:43] awallemo opened #66 "New Error when running hoaxy init"
2021-01-26 13:16:54,656 - hoaxy(init) - INFO: Site file /home/ubuntu/.hoaxy/sites.yaml found
Traceback (most recent call last):
  File "/home/ubuntu/anaconda2/envs/hoaxy/bin/hoaxy", line 11, in <module>
    load_entry_point('hoaxy==0.1.0', 'console_scripts', 'hoaxy')()
  File "/home/ubuntu/anaconda2/envs/hoaxy/lib/python3.7/site-packages/hoaxy-0.1.0-py3.7.egg/hoaxy/commands/cmdline.py", line 122,

[2021-01-27 13:15] glciampaglia commented on #66
Hi @awallemo, can you please share you sites.yaml?

[2021-01-27 13:17] awallemo commented on #66
### site factcheck.org
  # required, name of site
- name: factcheck.org
  # required, primary domain of factcheck.org
  domain: factcheck.org
  # required, type of this site, it is a fact checking site
  site_type: fact_checking
  # base URL, default by infer, the home of factcheck.org
  base_url: http://www.factcheck.org/
  # site tags, default [], more about this site
  site_tags: []
  # alterna

[2021-01-27 13:18] awallemo commented on #66
### site factcheck.org
  # required, name of site
- name: factcheck.org
  # required, primary domain of factcheck.org
  domain: factcheck.org
  # required, type of this site, it is a fact checking site
  site_type: fact_checking
  # base URL, default by infer, the home of factcheck.org
  base_url: http://www.factcheck.org/
  # site tags, default [], more about this site
  site_tags: []
  # alterna

[2021-01-27 13:19] awallemo commented on #66
Do I just copy the content of the file?

[2021-01-27 13:19] glciampaglia commented on #66
Yes, please. Or you can put it on pastebin or similar site.

[2021-01-27 13:26] awallemo commented on #66
/required, name of site
- name: factcheck.org
  / required, primary domain of factcheck.org
  domain: factcheck.org
  / required, type of this site, it is a fact checking site
  site_type: fact_checking
 / base URL, default by infer, the home of factcheck.org
  base_url: http://www.factcheck.org/
  / site tags, default [], more about this site
  site_tags: []
  / alternate domains, default [], sec

[2021-01-27 13:31] glciampaglia commented on #66
The syntax of this file is not correct. In YAML files, comment lines should start with a the hashtag character (#), not with the front slash character (/). For example:
[code]
Should be:
[code]

[2021-01-27 13:32] glciampaglia commented on #66
You can see an example here: https://github.com/IUNetSci/hoaxy-backend/blob/master/hoaxy/data/samples/sites.sample.yaml

[2021-01-27 13:33] awallemo commented on #66
Oh, yes, I manually changed this here so that it would be formatted in the correct size.

[2021-01-27 13:33] awallemo commented on #66
When i just copy directly in it looks like this:

### site factcheck.org
  # required, name of site
- name: factcheck.org
  # required, primary domain of factcheck.org
  domain: factcheck.org
  # required, type of this site, it is a fact checking site
  site_type: fact_checking
  # base URL, default by infer, the home of factcheck.org
  base_url: http://www.factcheck.org/
  # site tags, default []

[2021-01-27 13:34] glciampaglia commented on #66
Could you please put it on pastebin.com and share the link here? https://pastebin.com/

[2021-01-27 13:38] awallemo commented on #66
https://pastebin.com/EETk00Sy

[2021-01-27 13:47] glciampaglia commented on #66
You have two `-archive` blocks, which I don't think is allowed.

Can you please try to run `hoaxy init` using this file instead? https://github.com/IUNetSci/hoaxy-backend/blob/master/hoaxy/data/samples/sites.sample.yaml

You will need to rename it to sites.yaml.

[2021-01-27 13:52] awallemo commented on #66
I must have copy pasted wrong from my sites.yaml file. Here is the correct one https://pastebin.com/Y5AQVe9N

My sites.yaml file does not have two archive blocks

[2021-01-27 14:01] glciampaglia commented on #66
Thank you. I don't see anything odd in your file (it seems you are using the same file as the sample one).

How did you get hoaxy? Did you build it yourself or did use one of the images (dockers or Amazon AMI)?

[2021-01-27 14:05] awallemo commented on #66
Its deployed on an Amazon AWS EC2 instance.

[2021-01-27 14:09] glciampaglia commented on #66
Got it. I don't have access to EC2 right now so I cannot check, but perhaps @chathuriw can try to reproduce the problem on the AMI. I've marked the issue as a potential bug for her reference.

[2021-01-27 14:11] awallemo commented on #66
Okay, I'll wait for her then. Thank you!

[2021-01-29 19:48] chathuriw commented on #66
I create a new instance with hoaxy-ami and enable the conda environment and ran `hoaxy init  --ignore-redirected --ignore-inactive`. It ran successfully.

(hoaxy) ubuntu@ip-172-31-39-191:~/hoaxy-backend$ hoaxy init  --ignore-redirected --ignore-inactive
2021-01-29 19:40:09,323 - hoaxy(init) - INFO: Creating database tables:
2021-01-29 19:40:09,323 - hoaxy(init) - WARNING: Ignore existed tables
202

[2021-01-29 22:02] awallemo commented on #66
I ran the command you gave but I still get the same error. My sites.yaml file is the one I posted in the pastebin I commented earlier on. I dont see anything wrong there and I don't really understand what i should do in the sites.yaml file when I look at the error.

[2021-01-29 22:03] awallemo commented on #66
2021-01-29 21:59:09,622 - hoaxy(init) - INFO: Site file /home/ubuntu/.hoaxy/sites.yaml found
Traceback (most recent call last):
  File "/home/ubuntu/anaconda2/envs/hoaxy/bin/hoaxy", line 11, in <module>
    load_entry_point('hoaxy==0.1.0', 'console_scripts', 'hoaxy')()
  File "/home/ubuntu/anaconda2/envs/hoaxy/lib/python3.7/site-packages/hoaxy-0.1.0-py3.7.egg/hoaxy/commands/cmdline.py", line 122,

[2021-01-30 01:06] filmenczer commented on #66
@chathuriw Can you please try with the [same yaml file](https://github.com/IUNetSci/hoaxy-backend/blob/master/hoaxy/data/samples/sites.sample.yaml) used by @awallemo ?

[2021-02-01 17:31] chathuriw commented on #66
@awallemo, here is the correct yaml file. Your yaml file misses the 'sites' tag. (I had to rename it as txt to upload. Please remove it before you use it). Le t me know if you are still having issues.

[sites.yaml.txt](https://github.com/IUNetSci/hoaxy-backend/files/5905575/sites.yaml.txt)

[2021-02-01 20:44] awallemo commented on #66
It worked now, thanks!

[2021-02-01 20:44] #66 closed

[2021-02-08 13:36] awallemo opened #67 "Error building the lucene index"
When i run the command hoaxy lucene --index

2021-02-08 13:20:08,522 - hoaxy(lucene.index) - DEBUG: Indexing started.. Getting articles..
Traceback (most recent call last):
  File "/home/ubuntu/anaconda2/envs/hoaxy/lib/python3.7/site-packages/sqlalchemy/engine/base.py", line 1244, in _execute_context
    cursor, statement, parameters, context
  File "/home/ubuntu/anaconda2/envs/hoaxy/lib/python3.7

[2021-02-08 13:59] awallemo commented on #67
It seems I skipped over this step and did the last step before building the lucene index. I.e I did step 6 before step 7. Is there a way I can reverse this?

[2021-02-08 14:36] chathuriw commented on #67
Above issue is because we added the html filed to the database later and forgot to update the schema. It is fixed in the master branch, but need to update the ami. Please alter the article table to have the html field.

` html = Column(Text)`

[2021-02-08 15:47] awallemo commented on #67
Thank you chathuriw. I am not sure where I can find the database in the ami though.

[2021-02-08 16:29] chathuriw commented on #67
Database details should be in conf.yaml file in .hoaxy directory in the home directory.

[code]

In the command line, do the following commands.

-  sudo su postgres
- psql -d hoaxy
- ALTER table article ADD COLUMN html text;

[2021-02-09 12:50] awallemo commented on #67
Thanks, works now!

[2021-02-09 15:35] #67 closed

[2021-03-02 17:25] #27 closed

[2021-03-16 15:22] filmenczer commented on #64
Closing for now due to lack of information about version. Can reopen later if @vinaysetty sends further details.

[2021-03-16 15:22] #64 closed

[2021-06-03 19:38] RobertAndion opened #68 "Dockerfile link update"
The current docker file fails to build when reaching the RUN step on lines 72 and 73. By changing the link and cp commands to these, it allows it to build however I am not sure if this version is compatible with hoaxy. I have been unable to thoroughly test this.
[code]

[2021-06-29 05:22] chathuriw commented on #68
@RobertAndion thank you for the contribution. It works with new ivy version.

[2021-06-29 05:22] #68 closed

[2021-09-09 23:43] RobertAndion opened #70 "error when building using the dockerfile"
When using the docker file the command:

RUN cd hoaxy-backend \
    && pip install --upgrade --force-reinstall jieba3k==0.35.1 \
    && pip install requests --upgrade \
    && python setup.py install

Causes the build to fail with the error below:

Installed /opt/conda/lib/python3.7/site-packages/pathos-0.2.8-py3.7.egg
Searching for demjson>=2.2.4
Reading https://pypi.org/simple/demjson/
Downloadi

[2021-09-16 18:41] RobertAndion commented on #70
Adding this at line 65 after the large conda install seems to fix the issue:
RUN conda install -c conda-forge demjson

[2021-09-16 19:37] chathuriw commented on #70
@RobertAndion  thank you. I also have a fix in https://github.com/IUNetSci/hoaxy-backend/commit/2f23f453826c6572cd6d8e48a515992e975281df. I think the problem is latest setuptools stopped supporting package 'use_2to3'. (https://exerror.com/error-in-mongoengine-setup-command-use_2to3-is-invalid/)

[2022-11-09 11:16] dehma01 commented on #63
<img width="1680" alt="image" src="https://user-images.githubusercontent.com/49675319/200816118-ef0076bc-4741-4fbf-99ed-78fe1b4e29ec.png">

I have the same issue

[2022-11-09 15:09] benabus commented on #63
Unfortunately, due to costs, we needed to remove the AMI over the summer.  The documentation here was never updated.  Apologies for the inconvenience.

[2022-11-10 14:38] dale-wahl opened #75 "docker-compose up Error"
Hello all, I am not sure the docker-compose installation is meant to be used, but after perusing the extensive installation instructions, I thought it couldn't hurt to try! Unfortunately, it doesn't seem to be working and fails on build.

It seems to die on [`RUN conda install -y python=3.7.5\`](https://github.com/IUNetSci/hoaxy-backend/blob/e4c0c2d037d37db21ba5578ecc04992e8bc5f854/docker/Dockerfi

[2022-11-10 19:26] filmenczer commented on #75
This software will no longer be maintained and is being archived. All issues are being closed. Thank you for your understanding.

[2022-11-10 19:26] #75 closed, assigned to nobody

[2022-11-10 19:26] #59 closed

[2022-11-10 19:27] filmenczer commented on #58
@shaochengcheng we are archiving this software after a long and glorious life. Thanks for all your work!

[2022-11-10 19:27] #58 closed

[2022-11-10 19:27] #23 closed

[2022-11-10 19:28] #19 closed